html {font-size: 100%;}
* {
  font-family : Arial, Helvetica, sans-serif;
  font-size : 1.05em;
}	
body {
	position:relative;
	width:100%;
	margin:auto;
}


#main {
	position:relative;
	top:10px;
	width:420px;
	height:700px;	
	margin:auto;
	overflow:hidden;
	background-color:#cdf;
	display:block;
	border-radius: 4%; 
	border-style:solid;
	border-color:#000;
	border-width:10px;	

}
.buttonCtnr {
	width:49%;
	display:inline-block;
}
.buttonBack {
	background-color:#50f;
	padding-top:4px;padding-left:4px;
}
.leftRight {
	text-align:left;
}
.topDown {
	text-align:right;
}
.menuPicto {
	position:relative;
	width:34px;
	height:34px;
	border-radius: 12%; 
	border-style:solid;
	border-color:#eee;
	border-width:1px;	
	opacity: 0.7;
	background-color:#fff;
}
.menuPicto:hover {
	opacity: 1;
}
.menuPicto .bar {
	position:relative;
	top:-2px;
	margin-top:2px;
	width:20px;
	height:2px;
	background-color:#666;
}
.topDown .menuPicto .bar {
	position:relative;
	top:-2px;
	left:8px;
	margin-top:3px;
	width:4px;
	height:4px;
	background-color:#666;
}
.leftRightElem {
	position:absolute;
	padding:10px;
	top:40px;
	left:-220px; /*-160px;*/
	width:200px;
	height:400px;	
	background-color:#393;
	color:#000;
	text-align:right;
}
.topDownElem {
	position:absolute;
	padding-left:20px;
	top:40px;
	left:0px;
	width:420px;
	height:0px; /*260px;	*/
	background-color:#b00;
	color:#ccc;
	overflow:hidden;
}


#info {
	padding:10px;
}

hr {
	
                                                                    
hr.clear {
	clear: both;
	visibility: hidden;
}
